* {
  box-sizing: border-box;
}

.conteudo {
  width: 300px;
  border-bottom: 10px;
  box-shadow: 5px 5px  5px #DCDCDC;
	/* background-color: blue; */
}

#imagem {
  padding: 5px;
	border-style: hidden;
  width: 300px;
}

#lista {
  list-style-type: none;
}
#titulo{
	padding: 10px
/* border-style: groove; */
}
#sobre{
	padding: 10px;
	overflow: hidden;
	border-style: groove;
}
.informacoes {
  font-style: italic;
}

.negrito {
  font-weight: bold;
}

.descri {
  text-align: justify;
}
